@use "root.scss";

div.section {
  border: 1px gainsboro solid;
  border-radius: 2mm;
  margin: 1rem 2rem 1rem 2rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

div.section.closed {
  margin: 1rem 2rem 0 2rem;
}

div.section>div.name {
  background-color: rgb(172, 186, 202);
  font-size: medium;
  font-family:sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

div.section>div.name:hover {
  background-color: palegoldenrod;
}

div.section>div.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}

div.division {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  margin: 1em;
  padding: 1em;
}


div.closable-container.closed>div.closable {
  display: none;
}