@use "root.scss";

div.control-grid {
  display: grid;
  grid: auto / auto auto;
}

div.control {
  display: contents;
  margin-left: 1rem;
  margin-right: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

input[type=text],
input[type=date],
select {
  width: 10rem;
}
input[type=number] {
  width: 4rem;
}

input, select {
  background-color: var(--input-color);
  color: white;
  padding: 8px;
  margin: 4px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

input.small {
  width: 4rem;
}
select>option:hover{
    background-color: #fff;
}
select>option:checked{
    background-color: #b8e1ba;
}

input:hover {
  background-color: var(--input-hover-mild-color);
}

input[type=button]:hover,
input[type=submit]:hover,
select:hover {
  background-color: var(--input-hover-color);
}

input.search-button {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

}

input.cancel-button {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input.poll-broker-button {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

}